.hoverText {
    display: none;
}
  
.save-playlist:hover + .hoverText {
  display: block;
  color:white;
  padding: 0 30px;
}

.playlist-button {
    background-color: white;
    color: #65BFD4;
    margin: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
}