.left-column {
    padding: 10px;
}

form {
    display: inline-block;
}

.right-column {
    min-width: 40%;
    max-width: 50%;
}

ul.search-results-list {
    padding-left: 0;
    overflow-y: scroll;
    max-height: calc(100vh - 360px);
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}
li div {
    display: flex; 
    flex-direction: column;
}

.topRow, .details {
    flex-direction: row;
}


.track, .artist {
    margin: 0 10px;
}

.search-box {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    padding: 10px;
    margin: 8px 0;
    font-size: 18px;
    border-radius: 5px;
}

.next {
    margin-bottom: 30px;
    cursor: pointer;
}