.playlist-song {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-row div {
    margin: 10px;
}

.reorder, .reorder-empty, .reorder-down {
    width: 30px;
    height: 30px;
}

.reorder-empty {
    margin-left: 30px;
}

.reorder-down {
    transform: rotate(180deg);
    cursor: pointer;
}

.reorder {
    cursor: pointer;
}

.bottom-row img {
    margin-left: 30px;
}

