.song-preview {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.album {
    height: 64px;
    width: auto;
    margin: 5px;
}

.icon {
    margin-right: 20px;
}

.title {
    font-size: 22px;
    margin: 5px;
    text-align: left;
}

.add {
    padding: 5px 5px;
    align-self: stretch;
}