.App {
  text-align: center;
}

.inner {
  vertical-align: middle;
}

.App-header {
  background-color: #F7F7F7;
  height: 180px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  display: inline;
}

.icon-header {
  height: 50px;
  width: auto;
  padding: 20px 50px;
}

.color-icons {
  display: inline-block;
}

.icon-white {
  height: 35px;
  width: auto;
  padding: 10px;
}

h3 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: normal;
}
.card {
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.card-header {
  display: inline-block;
  font-weight: normal;
}

.search {
  background-color: #D94D7D;
}

.playlist {
  background-color: #65BFD4;
}

.guidelines {
  background-color: #70D8B4;
}

.alert {
  margin: 30px 23%;
  font-size: 1.2em;
  width: 50%;
  font-weight: bold;
}


.refresh {
  text-decoration: none;
  font-weight: bold;
}
