.App {
  text-align: center;
}

.inner {
  vertical-align: middle;
}

.App-header {
  background-color: #F7F7F7;
  height: 140px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.icon-header {
  height: 50px;
  width: auto;
  padding: 20px 50px;
}

.App-intro {
  font-size: large;
}

.alert {
  margin: 40px 30px;
  font-size: 1.2em;
  color: red;
  width: 50%;
  font-weight: bold;
}

.radio-buttons {
  margin-top: 10px;
}

input[type="radio"] {
  margin-left: 20px;
}

.refresh {
  text-decoration: none;
  font-weight: bold;
}
