.App {
  text-align: center;
}

.inner {
  vertical-align: middle;
}

.App-header {
  background-color: #F7F7F7;
  height: 140px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.icon-header {
  height: 50px;
  width: auto;
  padding: 20px 50px;
}

.card {
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.search {
  background-color: #D94D7D;
}

.playlist {
  background-color: #65BFD4;
}

.guidelines {
  background-color: #70D8B4;
}

.alert {
  margin: 40px 30px;
  font-size: 1.2em;
  color: red;
  width: 50%;
  font-weight: bold;
}


.refresh {
  text-decoration: none;
  font-weight: bold;
}
